@charset "utf-8";

h1{
	text-align: center;
	font-family: Helvetica, sans-serif;
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 50px;
}

body{
	background-color: none;
}
.container{
	width: 100%;
	height:auto;
	background-color: ;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-flow: wrap;
}

.box{
	width: 30%;
	/*height: 200px;*/
	background-color: #dbdbdb;
	margin:20px;
	position: relative;
	box-sizing: border-box;
	font-size: 15px;
	border: 3px solid black;
	font-family: Helvetica, sans-serif;
	
}

.smallbox {
	width: 8rem;
	border: 3px solid black;
	position: absolute; 
	top: 0;
	right: 0;
	text-align: center;
	font-size: 25px;
}

.boxC {
	background-color: #d59898;

}

.boxB {
	color: white;
	background-color: #c14543;
}

.boxS {
	background-color: #e5d198;
}

p{

	text-align: left;
}

@media  (max-width: 991)  {
	.box1{
		width: 50%;
	}
	.boxC{
		width: 40%;
	}

	.box2{
		width: 25%;
	}
	.boxB {
		width: 40%;
	}

	.box3{
		width: 100%;
	}
	.boxS {
		width: 40%;
	}
}