@charset "utf-8";

h1{
	text-align: center;
	font-family: Helvetica, sans-serif;
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 50px;
}

body{
	background-color: none;
}
.container{
	width: 100%;
	height: auto;
}
.box p{
	margin-top: 3rem; 
}

.box{
	float: left;
	background-color: #dbdbdb;
	margin: 20px;
	position: relative;
	box-sizing: border-box;
	font-size: 15px;
	border: 3px solid black;
	font-family: Helvetica, sans-serif;
	
}

.smallbox {
	width: 8rem;
	border: 3px solid black;
	position: absolute; 
	top: 0;
	right: 0;
	text-align: center;
	font-size: 25px;
}

.boxC {
	background-color: #d59898;

}

.boxB {
	color: white;
	background-color: #c14543;
}

.boxS {
	background-color: #e5d198;
}

p{

	text-align: left;
}

/*Desktop*/
@media screen and (min-width: 992px)  {
	.box1{
		width: 30%;
	}

	.box2{
		width: 30%;
	}

	.box3{
		width: 30%;
	}
	
}

/*Mobile Phone*/
@media screen and (max-width: 767px) {
	.box1{
		width: 100%;
	}

	.box2{
		width: 100%;
	}

	.box3{
		width: 100%;
	}
	
}

/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 991px) {
	
}